<div class="container justify-content-center col-6">
    <h2>UPDATE VEGETABLE DETAILS</h2>
    <hr />
    <form [formGroup]="vegetableForm" (ngSubmit)="updateVeggie()">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="vegetableName" [(ngModel)]="vegetable.vegetableName" />
        <div
          *ngIf="
            vegetableForm.controls['vegetableName'].dirty ||
            vegetableForm.controls['vegetableName'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableName'].errors?.['required']"
          >
            Vegetable name is required
          </div>
  
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableName'].errors?.['pattern']"
          >
            Vegetable name is invalid
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" class="form-control" formControlName="vegetablePrice" [(ngModel)]="vegetable.vegetablePrice"/>
        <div
          *ngIf="
            vegetableForm.controls['vegetablePrice'].dirty ||
            vegetableForm.controls['vegetablePrice'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetablePrice'].errors?.['required']"
          >
            Vegetable Price is required
          </div>
  
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableName'].errors?.['pattern']"
          >
            vegetable Price is invalid
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Weight</label>
        <input
          type="text"
          class="form-control"
          formControlName="vegetableWeight"
          [(ngModel)]="vegetable.vegetableWeight"
        />
        <div
          *ngIf="
            vegetableForm.controls['vegetableWeight'].dirty ||
            vegetableForm.controls['vegetableWeight'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableWeight'].errors?.['required']"
          >
            vegetable Weight is required
          </div>
  
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableWeight'].errors?.['pattern']"
          >
            vegetable Weight is invalid
          </div>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Benefits</label>
        <input
          type="text"
          class="form-control"
          formControlName="vegetableBenefits"
          [(ngModel)]="vegetable.vegetableBenefits"
        />
        <div
          *ngIf="
            vegetableForm.controls['vegetableBenefits'].dirty ||
            vegetableForm.controls['vegetableBenefits'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableBenefits'].errors?.['required']"
          >
            vegetable Benefits is required
          </div>
  
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableBenefits'].errors?.['pattern']"
          >
            vegetable Benefits is invalid
          </div>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">ImageUrl</label>
        <input
          type="text"
          class="form-control"
          formControlName="vegetableImageUrl"
          [(ngModel)]="vegetable.vegetableImageUrl"
        />
        <div
          *ngIf="
            vegetableForm.controls['vegetableImageUrl'].dirty ||
            vegetableForm.controls['vegetableImageUrl'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableImageUrl'].errors?.['required']"
          >
            vegetable ImageUrl is required
          </div>
  
          <div
            class="alert alert-danger"
            *ngIf="vegetableForm.controls['vegetableImageUrl'].errors?.['pattern']"
          >
            vegetable ImageUrl is invalid
          </div>
        </div>
      </div>

      <input type="submit"
      value="update Vegetable"
      [disabled]="vegetableForm.invalid"
      class="btn btn-primary mt-4">
    </form>
  </div>
