<div id="login" class="container justify-content-center col-md-7 mt-4 ">
  <h2>Login/Sign In</h2>
  <hr />
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Email address</label>
      <input
        type="email"
        class="form-control"
        type="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="customerEmail" [(ngModel)]="customer.customerEmail"
      />
      <div
          *ngIf="
            loginForm.controls['customerEmail'].dirty ||
            loginForm.controls['customerEmail'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="loginForm.controls['customerEmail'].errors?.['required']"
          >
            Customer Email is required
          </div>
      </div>
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>



    <div class="mb-3">
      <label for="exampleInputPassword1" type="password" class="form-label"
        >Password</label
      >
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="customerPassword" [(ngModel)]="customer.customerPassword" />

      <div
          *ngIf="
            loginForm.controls['customerPassword'].dirty ||
            loginForm.controls['customerPassword'].touched
          "
        >
          <div
            class="alert alert-danger"
            *ngIf="loginForm.controls['customerPassword'].errors?.['required']"
          >
            Customer Password is required
          </div>
      </div>

    </div>

    <input
      type="submit"
      value="Login"
      [disabled]="loginForm.invalid"
      class="btn btn-primary mt-4"
    />
  </form>
</div>
